*[role="button"] {
  cursor: pointer;
}

.App {
  text-align: center;
  background-image: url(./background.png);
  background-color: #282c34;
  background-color: #111;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(8px + 1.5vmin);
  color: white;
}

.folder {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 90px;
  margin: 20px 20px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.folder:before {
    content: "";
    width: 40%;
    height:15%;
    background-color: #335675;
    position: absolute;
    top: 0%;
    left: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.folder:after {
    content: "";
    width: 100%;
    height:75%;
    background-color: #335675;
    position: absolute;
    top: 15%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}

.folder .folder-name {
  color: #ddd;
  width: 100px;
  position: absolute;
  top: 90px;
  font-size: 0.9em;
}

.folder .folder-name.folder-name-dark {
  color: #333;
}

.folder.folder-small {
  width: 50px;
  height: 45px;
  margin: 10px 10px 40px;
}

.folder.folder-small .folder-name {
  font-size: 0.9em;
  width: 90px;
  top: 45px;
  left: -20px;
}

#copyToUSBButtonContainer {
  position: absolute;;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#copyToUSBButton {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 10px 70px;
  background-color: #990022;
  display: inline-block;
  cursor: pointer;
}

.copy-modal {
  padding: 70px 20px;
}
